@layout PixelBot.UI.EmptyLayout
@page "/widgets/train/{ChannelName}"
@inherits UserActivityTrainModel

<!--
	
	Format the HTML properly
	Animate the HTML properly

-->
<style>

	#traintrack_horizontal {
		width: 100%;
		clear: both;
	}

	#traintrack_horizontal #end {
	position: absolute;
    width: 100px;
    height: 100px;
    padding: 2px;
    border: 2px solid black;
    text-align: center;
    vertical-align: middle;
    font-size: 36pt;
    line-height: 110px;
    font-weight: bold;
	}

	#traintrack_horizontal img {
		height: 100px;
	}

	#train {
		height: 100px;
		position: absolute;
		right: 10px;
		animation-name: moveTrain;
		animation-duration: 30s;
		animation-iteration-count: 1;
	}

	@@keyframes moveTrain {
		17%  { transform : translateX(0%) }
		20%  { transform : translateX(-20%) }
		37%  { transform : translateX(-20%) }
		40%  { transform : translateX(-40%) }
		57%  { transform : translateX(-40%) }
		60%  { transform : translateX(-60%) }
		77%  { transform : translateX(-60%) }
		80%  { transform : translateX(-80%) }
	}

</style>


@if (base.Configuration == null) {

	<span>Waiting...</span>

} else {


	<div id="traintrack_horizontal">

		<div id="end">@Counter</div>

		<div id="train">
			<img src="/_content/PixelBot.StandardFeatures/img/UserActivityTrain/train_1.png" />
			<img src="/_content/PixelBot.StandardFeatures/img/UserActivityTrain/train_2.png" />
			<img src="/_content/PixelBot.StandardFeatures/img/UserActivityTrain/train_3.png" />
		</div>

	</div>

	<div id="stats">
	<span id="counter">Train length:  @Counter</span>
	<br/>
	<span id="timeRemaining">@TimeRemaining.ToString("m\\:ss")</span>
	<br/>
	<span id="duration">Train has been going for: @TrainDuration.ToString("h\\:mm\\:ss")</span>
	<br/>
	<span id="latestFollower">Latest Follower: @LatestFollower</span>
	</div>
}

